# **E-Commerce Sales & Profit Analysis Dataset**

# **IMPORT LIBRARY**

In [1]:
import pandas as pd

# **DATASET**

In [4]:
path = "/content/drive/MyDrive/CheckPoint 1/ecommerce_sales_data (2).csv"
df = pd.read_csv(path)
df

      Order Date Product Name     Category Region  Quantity  Sales   Profit
0     2024-12-31      Printer       Office  North         4   3640   348.93
1     2022-11-27        Mouse  Accessories   East         7   1197   106.53
2     2022-05-11       Tablet  Electronics  South         5   5865   502.73
3     2024-03-16        Mouse  Accessories  South         2    786   202.87
4     2022-09-10        Mouse  Accessories   West         1    509   103.28
...          ...          ...          ...    ...       ...    ...      ...
3495  2023-02-15      Monitor  Accessories  North         4   4064   771.16
3496  2022-09-18      Monitor  Accessories   East         1   1117   119.89
3497  2022-04-12       Laptop  Electronics  South         4    260    66.02
3498  2022-01-18      Printer       Office  South         3    222    50.28
3499  2024-11-01   Smartwatch  Electronics   East         9  10530  1777.32

[3500 rows x 7 columns]

# **Studi Kasus**

Perusahaan e-commerce ini menjual produk dalam tiga kategori utama, yaitu Electronics, Accessories, dan Office serta beroperasi di empat wilayah: North, South, East, dan West. Dari 3.500 transaksi selama 2022–2024, perusahaan mencatat total penjualan sebesar 10.667.881 total keuntungan 1.844.665,21 dan total produk terjual 17.261 unit. Hal ini menunjukkan bahwa perusahaan memiliki kinerja penjualan yang cukup baik dan mampu menghasilkan keuntungan yang stabil.

Jika dilihat dari kategori produk, Electronics menjadi penyumbang penjualan terbesar dengan 5.326.074 diikuti Accessories 4.247.591 dan Office 1.094.216. Artinya, produk teknologi sangat diminati sementara kategori Office perlu strategi pemasaran agar penjualannya meningkat. Dari sisi wilayah West memberikan keuntungan tertinggi sebesar 495.358,73 sedangkan North mencatat keuntungan paling rendah dan memerlukan evaluasi strategi distribusi, promosi, serta efisiensi biaya. Produk dengan penjualan tertinggi antara lain Camera, Monitor, Printer, Mouse, dan Smartphone, sebagian besar dari kategori Electronics.

Secara keseluruhan perusahaan memiliki performa yang baik tetapi masih ada peluang perbaikan terutama pada kategori Office dan wilayah North. Strategi seperti promosi lebih intens, evaluasi biaya distribusi, serta teknik upselling dan cross-selling dapat membantu meningkatkan penjualan dan keuntungan perusahaan ke depannya.

# **Business Understanding**

**Business Objective**

Dataset ini terdiri dari 3.500 transaksi e-commerce dengan 7 fitur utama yang berisi informasi produk, kategori, wilayah, jumlah pembelian, pendapatan, dan keuntungan. Data ini menggambarkan aktivitas transaksi penjualan perusahaan di berbagai segmen pasar.

Permasalahan yang ingin dianalisis dari data set ini adalah bagaimana pola penjualan pada produk, kategori, dan wilayah tertentu mempengaruhi pendapatan dan keuntungan perusahaan. Dalam bisnis e-commerce peningkatan jumlah penjualan yang tinggi belum tentu menghasilkan keuntungan yang besar. Oleh karena itu, diperlukan analisis untuk mengetahui faktor-faktor yang mempengaruhi keuntungan agar perusahaan dapat mengambil keputusan yang lebih tepat.

Tujuan bisnis dari analisis ini adalah membantu perusahaan dalam menyusun strategi penjualan yang lebih efektif dan meningkatkan keuntungan berdasarkan pola transaksi yang ditemukan.

**Assess Situation**

Dataset yang digunakan merupakan dataset penjualan e-commerce yang terdiri dari 3.500 transaksi dengan 7 fitur utama. Dataset ini mencakup informasi penjualan dari berbagai produk, kategori, dan wilayah, serta memuat detail kuantitas (quantity), pendapatan (revenue), dan keuntungan (profit).

Data dalam dataset ini lengkap dan tidak terdapat nilai yang hilang, sehingga dapat langsung digunakan untuk analisis. Dataset ini juga menggambarkan kondisi bisnis yang nyata dan bisa digunakan untuk menganalisis penjualan, keuntungan, serta melakukan prediksi.

Meskipun data sudah lengkap dan tidak memiliki nilai yang hilang, tetap terdapat beberapa tantangan yang perlu diperhatikan dalam dataset ini, yaitu:
1. Perlu diketahui apakah jumlah barang yang terjual dan pendapatan yang tinggi selalu menghasilkan keuntungan yang lebih besar.
2. Kategori produk dan wilayah penjualan perlu dibandingkan untuk melihat mana yang memberikan keuntungan paling besar.
3. Data angka seperti pendapatan dan keuntungan perlu diperiksa untuk memastikan tidak terdapat nilai yang terlalu tinggi atau terlalu rendah yang dapat mempengaruhi hasil analisis.
4. Dengan memahami pola data, hasil analisis bisa lebih akurat dan tidak menyimpang dari kondisi bisnis yang ada.
5. Mengidentifikasi pola dalam data penjualan dan keuntungan agar hasil analisis sesuai dengan kondisi bisnis yang sebenarnya.

**Analytic Goals**

Untuk mengatasi permasalahan yang telah diidentifikasi, analisis yang akan dilakukan adalah:
1. Menganalisis apakah jumlah barang yang terjual (quantity) dan pendapatan (revenue) yang tinggi selalu menghasilkan keuntungan (profit) yang besar.
2. Membandingkan keuntungan berdasarkan kategori produk untuk mengetahui kategori mana yang memberikan profit paling besar.
3. Membandingkan keuntungan dan penjualan berdasarkan wilayah untuk melihat wilayah yang paling menguntungkan.
4. Mengecek nilai pendapatan dan keuntungan untuk memastikan tidak ada angka yang terlalu tinggi atau terlalu rendah yang dapat mempengaruhi hasil analisis.

**Project Plan**

Rencana yang akan dilakukan pada dataset adalah
1. Memahami struktur dan isi dataset
Pada tahap ini dilakukan pengecekan jumlah data, jumlah fitur, serta memahami arti dari setiap variabel seperti kategori produk, wilayah, jumlah terjual, pendapatan, dan keuntungan. Tujuannya agar tidak salah dalam melakukan analisis.
2. Memeriksa kelengkapan dan konsistensi data
Tahap ini bertujuan untuk memastikan data tidak memiliki nilai yang hilang, data duplikat, atau kesalahan penulisan yang dapat mempengaruhi hasil analisis.
3. Mengolah data agar siap dianalisis
Data akan disusun dan dirapikan jika diperlukan, sehingga formatnya sesuai dan mudah digunakan dalam proses analisis.
4. Melakukan analisis hubungan antar variabel
Pada tahap ini dilakukan analisis untuk melihat hubungan antara jumlah terjual, pendapatan, dan keuntungan, serta membandingkan kategori produk dan wilayah penjualan.
5. Menarik kesimpulan berdasarkan hasil analisis
Menarik kesimpulan berdasarkan hasil analisis